<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.achivers.ssinghal.walletinsights">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_applogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="User Registration" />
        <activity
            android:name=".ProfileActivity"
            android:label="User Profile" />
        <activity
            android:name=".WelcomeScreen"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity
            android:name=".Dashboard"
            android:label="@string/Ldash" />
        <activity
            android:name=".SettingUser"
            android:label="@string/action_settings" />
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AboutUs"
            android:label="About Us" />
        <activity
            android:name=".ContactUs"
            android:label="Contact Us" />
        <activity
            android:name=".RateUs"
            android:label="Rate Us" />
        <activity
            android:name=".Settings"
            android:label="@string/action_settings" />
        <activity
            android:name=".AddIncome"
            android:label="Add Income" />
        <activity
            android:name=".AddExpense"
            android:label="Add Expense" />
        <activity
            android:name=".BudgetActivity"
            android:label="Budget" />
        <activity
            android:name=".IncomeActivity"
            android:label="Income" />
        <activity
            android:name=".ExpenseActivity"
            android:label="Expense" />
        <activity
            android:name=".CreateBudgetActivity"
            android:label="Create Budget" />
        <activity android:name=".MainCategory" />
        <activity android:name=".UpdateDeleteBudget"></activity>
    </application>

</manifest>